*.iml
.gradle
/local.properties
/.idea
.vscode/
.DS_Store
/build
/android/app/build
/android/.gradle
/shared/build
/backend/build
/admin/build
/games/build
bin/
**/bin/
out/
**/out/
.classpath
.project
.settings/
*.ap_
*.apk
*.dex

